# Библиотека `pandas`: часть 1

*Алла Тамбовцева*

## Домашнее задание 

### Описание домашнего задания и формат сдачи

В домашнем задании необходимо решить предложенные задачи по программированию – вписать свой код в ячейки после условий задач вместо комментария `### YOUR CODE HERE ###` в файле *homework-pandas1.ipynb* и сохранить изменения, используя опцию *Save and Checkpoint* из вкладки меню *File* или кнопку *Save and Checkpoint* на панели инструментов. Итоговый файл в формате `.ipynb` (файл Jupyter Notebook) необходимо загрузить в личный кабинет обучающей онлайн платформы Skillbox (https://go.skillbox.ru/) и отправить на проверку.

### Задание 1

Загрузить массив `NumPy` из файла `"arr_pandas.npy"` (как в задании к предыдущему модулю) и преобразовать его в датафрейм. Массив содержит данные по результатам соревнований Scottish Hill Races в 2000 году (полное описание на английском языке можно посмотреть на [странице](https://vincentarelbundock.github.io/Rdatasets/doc/DAAG/races2000.html) с документацией по исходному файлу с данными).

**Подсказка (преобразование в датафрейм):**

In [3]:
import numpy as np
import pandas as pd
arr = np.load("arr_pandas.npy", allow_pickle=True)
dat = pd.DataFrame(arr)
print(dat)

                     0    1     2         3         4       5
0   Aonach Mor Gondola    2  2000  0.403611  0.518889  uphill
1    Broughton Brewery    2   650  0.254444  0.316667   other
2          El-Brim-Ick    3   750  0.485833  0.389167   other
3   The Devils Burdens   21  4100   2.39972   3.09333   relay
4        Tiso Carnethy    6  2500  0.782222  0.919167    hill
..                 ...  ...   ...       ...       ...     ...
72               Tinto  4.5  1500  0.499444  0.581111    hill
73          Druim Fada  6.5  1000  0.751111  0.972222   other
74              Elrick  3.6   650  0.358056    0.4425   relay
75             Gondola  2.5  2000  0.387222  0.518889  uphill
76         Greenmantle    2   650  0.254444  0.316667   other

[77 rows x 6 columns]

### Задание 2

Определить, сколько в датафрейме строк и столбцов. Привести код и указать ответ в виде текста или комментария к коду.

In [4]:
dat.shape # атрибут shape возвращает кортеж, в котором в первом значении хранится количетсво строк, а во втором - столбцов

(77, 6)

### Задание 3

Присвоить столбцам следующие названия (указаны с пояснениями): 

* `id`: id участника
* `dist`: расстояние в милях (по карте)
* `climb`: высота, достигнутая на маршруте (в сумме за весь маршрут, в футах)
* `time`: время (в часах)
* `timef`: время для женщин (в часах)
* `type`: тип гонки (*hill*, *marathon*, *relay*, *uphill* or *other*)

In [5]:
dat.columns = ['id', 'dist', 'climb', 'time', 'timef', 'type']

### Задание 4

Вывести на экран значение высоты, достигнутой на маршруте участником *Norman's Law*.

In [6]:
dat.index = dat.id
dat.loc["Norman's Law", 'climb']

700

### Задание 5
Вывести на экран значения показателей `dist`, `climb` , `time` для первых 10 участников.

In [7]:
dat[['dist', 'climb', 'time']].head(10)

                   dist climb      time
id
Aonach Mor Gondola    2  2000  0.403611
Broughton Brewery     2   650  0.254444
El-Brim-Ick           3   750  0.485833
The Devils Burdens   21  4100   2.39972
Tiso Carnethy         6  2500  0.782222
Criffel               7  1800  0.793333
Chapelgill          1.5  1400  0.314444
Norman's Law          5   700  0.464167
Craig Dunain          6   900  0.546111
Knockfarrel           5  1200  0.623333

### Задание 6

Вывести на экран сводную информацию по датафрейму, которая включает типы всех столбцов. Сколько столбцов типа `float` в датафрейме? Привести ответ на вопрос в виде текста или комментария к коду.

In [8]:
dat.info() # В моём датафрейме нет столбцов типа float, все имеют тип object.

<class 'pandas.core.frame.DataFrame'>
Index: 77 entries, Aonach Mor Gondola to Greenmantle
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      77 non-null     object
 1   dist    77 non-null     object
 2   climb   77 non-null     object
 3   time    77 non-null     object
 4   timef   75 non-null     object
 5   type    77 non-null     object
dtypes: object(6)
memory usage: 6.7+ KB

### Задание 7

Выбрать строки, которые соответствуют участникам эстафеты (*relay*).

In [9]:
dat[dat['type'] == 'relay']

                                    id dist climb      time     timef   type
id
The Devils Burdens  The Devils Burdens   21  4100   2.39972   3.09333  relay
Ben Rha                        Ben Rha  7.5   800  0.738056  0.997222  relay
Elrick                          Elrick  3.6   650  0.358056    0.4425  relay

### Задание 8

Выбрать строки, которые соответствуют участникам гонки в холмах (*hill*), которые в сумме достигли высоты более 1000 футов. Посчитать, сколько таких участников.

In [10]:
hills1000 = dat[(dat['type'] == 'hill') & (dat['climb'] > 1000)]
hills1000.shape[0]

39

### Задание 9

Выбрать строки, соответствующие участникам, которые либо достигли высоты более 4000 футов, либо потратили менее 0.5 часов.

In [11]:
dat[(dat['time'] < 0.5) | (dat['climb'] > 4000)]

,id,dist,climb,time,timef,type
id,,,,,,
Aonach Mor Gondola,Aonach Mor Gondola,2,2000,0.403611,0.518889,uphill
Broughton Brewery,Broughton Brewery,2,650,0.254444,0.316667,other
El-Brim-Ick,El-Brim-Ick,3,750,0.485833,0.389167,other
The Devils Burdens,The Devils Burdens,21,4100,2.39972,3.09333,relay
Chapelgill,Chapelgill,1.5,1400,0.314444,0.376667,hill
Norman's Law,Norman's Law,5,700,0.464167,0.609167,hill
Screel,Screel,4,1300,0.458889,0.543611,hill
Hunters Bog,Hunters Bog,4.5,800,0.409444,0.477778,other
Aberfoyle Dash,Aberfoyle Dash,3,1000,0.3375,0.381389,uphill
Manx Mountain,Manx Mountain,30.5,8000,4.46972,5.52333,marathon
Whangie Whizz,Whangie Whizz,3.5,800,0.395556,0.464167,hill
Stuc A'Chroin,Stuc A'Chroin,14,5000,1.98333,2.39889,hill
Kinnoull,Kinnoull,4,800,0.387222,0.4525,hill
Scottish Nuclear Kaim,Scottish Nuclear Kaim,3.5,1250,0.431111,0.54,hill
Isle of Jura,Isle of Jura,16,7500,3.11639,3.83944,other
Scolty,Scolty,5,800,0.495833,0.579167,hill
12 Trig Trog,12 Trig Trog,46,7500,8.30694,13.5478,hill
Ben Sheann,Ben Sheann,2.5,1400,0.381667,0.484722,hill
Glen Rosa,Glen Rosa,13,5500,2.22028,2.70472,hill
West Highland Way,West Highland Way,95,9200,15.4389,18.8792,other
Eildon Two,Eildon Two,4.5,1500,0.427222,0.507778,other
Black Hill,Black Hill,4,600,0.447778,0.532222,hill
Meall Ant-Suidhe,Meall Ant-Suidhe,3.5,1500,0.465,0.609722,hill
Lochaber AC,Lochaber AC,2,900,0.284722,0.360556,hill
Lochaber Highland,Lochaber Highland,2,900,0.294167,0.473056,hill
Ben Rhinnes,Ben Rhinnes,14,4900,1.97611,2.35583,hill
Creag Dubh,Creag Dubh,3,1223,0.463889,0.601667,hill
Glen Clova,Glen Clova,15,5500,2.56722,2.96222,hill
Caerketton,Caerketton,2.5,800,0.208611,0.246667,hill
Oban,Oban,2.25,500,0.232222,0.298889,hill
Ben Nevis,Ben Nevis,10,4400,1.42611,1.72361,hill
Braemar,Braemar,4,2000,0.407778,NaN,other
Moffat Beef Tub,Moffat Beef Tub,2,1500,0.332222,0.436944,hill
Two Breweries,Two Breweries,18,4900,2.56583,3.08833,hill
Pentland,Pentland,16,6200,2.37778,2.785,hill
Tinto,Tinto,4.5,1500,0.499444,0.581111,hill
Elrick,Elrick,3.6,650,0.358056,0.4425,relay
Gondola,Gondola,2.5,2000,0.387222,0.518889,uphill
Greenmantle,Greenmantle,2,650,0.254444,0.316667,other

### Задание 10

Создать столбец `time_min`, который содержит время маршрута, измеренное в минутах.

In [12]:
dat['time_min'] = dat['time'] * 60
dat.head()

,id,dist,climb,time,timef,type,time_min
id,,,,,,,
Aonach Mor Gondola,Aonach Mor Gondola,2,2000,0.403611,0.518889,uphill,24.2167
Broughton Brewery,Broughton Brewery,2,650,0.254444,0.316667,other,15.2667
El-Brim-Ick,El-Brim-Ick,3,750,0.485833,0.389167,other,29.15
The Devils Burdens,The Devils Burdens,21,4100,2.39972,3.09333,relay,143.983
Tiso Carnethy,Tiso Carnethy,6,2500,0.782222,0.919167,hill,46.9333

### Задание 11

Создать столбец `year` с годом соревнований (везде 2000 год). Внимание: столбец с годом должен быть числовым (целочисленным).

In [13]:
dat['year'] = 2000
dat.info()
dat.head()

<class 'pandas.core.frame.DataFrame'>
Index: 77 entries, Aonach Mor Gondola to Greenmantle
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        77 non-null     object
 1   dist      77 non-null     object
 2   climb     77 non-null     object
 3   time      77 non-null     object
 4   timef     75 non-null     object
 5   type      77 non-null     object
 6   time_min  77 non-null     object
 7   year      77 non-null     int64
dtypes: int64(1), object(7)
memory usage: 7.9+ KB

,id,dist,climb,time,timef,type,time_min,year
id,,,,,,,,
Aonach Mor Gondola,Aonach Mor Gondola,2,2000,0.403611,0.518889,uphill,24.2167,2000
Broughton Brewery,Broughton Brewery,2,650,0.254444,0.316667,other,15.2667,2000
El-Brim-Ick,El-Brim-Ick,3,750,0.485833,0.389167,other,29.15,2000
The Devils Burdens,The Devils Burdens,21,4100,2.39972,3.09333,relay,143.983,2000
Tiso Carnethy,Tiso Carnethy,6,2500,0.782222,0.919167,hill,46.9333,2000

.<br> 
# Дополнительное (необязательное) задание.
<br>

### Задание 1

Загрузить датафрейм из файла `extraversion.csv`, используя код ниже. При этом файл `extraversion.csv` должен находиться в той же папке, что и ноутбук с решениями. Его можно поместить в ту же папку, нажав кнопку *Upload* в *Home*.

In [14]:
# кодировка UTF-8, чтобы кириллица корректно считывалась на Windows
ps = pd.read_csv("extraversion.csv", encoding = "UTF-8")

Файл содержит результаты учебного психометрического исследования, целью которого является выявление связи между уровнем экстраверсии человека и его склонности к участию в волонтёрской деятельности. Датафрейм содержит следующие столбцы:

* `sex`: пол респондента (Женский, Мужской);
* `volunteer`: регулярное участие в волонтёрской деятельности (Да, Нет);
* `Q 1` - `Q 57`: ответы на вопросы по анкете Айзенка (Да, Нет), информацию об анкете и сами вопросы можно найти на [этой](http://ipp.hse.ru/57-testytest-ajzenka-ekstraversiya-introversiya-nejrotizm) странице.

In [15]:
ps = pd.read_csv("extraversion.csv", encoding = "UTF-8")

### Задание 2

Определить, сколько в датафрейме строк и столбцов. Привести код и указать ответ в виде текста или комментария к коду.

In [16]:
print(f'Датафрейм ps содержит {ps.shape[0]} строки и {ps.shape[1]} столбцов')

Датафрейм ps содержит 52 строки и 61 столбцов

### Задание 3

Переименовать столбцы `Q 1`-`Q 57` в `Q1`-`Q57`, другими словами, убрать в названиях всех столбцов пробелы в середине (если есть). 

**Подсказка 1:** Метод `.replace()` для строк на [pythontutor.ru](https://pythontutor.ru/lessons/str/).

**Подсказка 2:** Для выполнения этого задания можно написать функцию, которая будет заменять пробелы на «пустоту», а потом применить её с помощью функции `map()` ко всем элементам списка. Пример ниже иллюстрирует применение функции для изменения регистра текста.

In [17]:
# Пример

L = ['яблоко', 'груша', 'слива']  # исходный список

# функция принимает на вход строку x и возвращает её же, 
# но большими буквами – метод .upper()

def f(x):
    """
    Input: x is a string.
    Output: x is a string.
    Makes all letters uppercase. 
    """
    return x.upper()

# результат: применяем функцию f к списку L через map и преобразуем в список
# можно убрать list() вначале и убедиться, что он здесь нужен

list(map(f, L))

['ЯБЛОКО', 'ГРУША', 'СЛИВА']

In [18]:
def remove_space(e):
    return e.replace(" ", "")

ps.columns = list(map(remove_space, ps.columns))
ps.columns

Index(['Unnamed:0', 'Unnamed:0.1', 'sex', 'volunteer', 'Q1', 'Q2', 'Q3', 'Q4',
       'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14', 'Q15',
       'Q16', 'Q17', 'Q18', 'Q19', 'Q20', 'Q21', 'Q22', 'Q23', 'Q24', 'Q25',
       'Q26', 'Q27', 'Q28', 'Q29', 'Q30', 'Q31', 'Q32', 'Q33', 'Q34', 'Q35',
       'Q36', 'Q37', 'Q38', 'Q39', 'Q40', 'Q41', 'Q42', 'Q43', 'Q44', 'Q45',
       'Q46', 'Q47', 'Q48', 'Q49', 'Q50', 'Q51', 'Q52', 'Q53', 'Q54', 'Q55',
       'Q56', 'Q57'],
      dtype='object')

### Задание 4

Выбрать столбцы `Q1`, `Q3`, `Q8`, `Q10`, `Q13`, `Q17`, `Q22`, `Q25`, `Q27`, `Q39`, `Q44`, `Q46`, `Q49`, `Q53`, `Q56` и сохранить их в отдельный датафрейм `extra_yes`. 

Выбрать столбцы `Q5`, `Q15`, `Q20`, `Q29`, `Q32`, `Q34`, `Q37`,`Q41`, `Q51` и сохранить их в отдельный датафрейм `extra_no`.

Эти столбцы будут использоваться для вычисления индекса экстраверсии.

In [19]:
extra_yes = ps[['Q1', 'Q3', 'Q8', 'Q10', 'Q13', 'Q17', 'Q22', 'Q25', 'Q27', 'Q39', 'Q44', 'Q46', 'Q49', 'Q53', 'Q56']]
extra_no = ps[['Q5', 'Q15', 'Q20', 'Q29', 'Q32', 'Q34', 'Q37','Q41', 'Q51']]

### Задание 5

Посчитать для каждой строки в датафрейме `extra_yes` число ответов `"Да"` и полученный результат сохранить в переменную `extra_yes_sum`. Посчитать для каждой строки в датафрейме `extra_no` число ответов `"Нет"` и полученный результат сохранить в переменную `extra_no_sum`.

**Подсказка 1:** метод `.isin()` для [датафреймов](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.isin.html) `pandas`.

**Подсказка 2:** метод `.sum()` для [датафреймов](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sum.html) `pandas`.

In [20]:
extra_yes_sum = extra_yes.isin(["Да"]).sum(1)
extra_yes_sum
extra_no_sum = extra_no.isin(["Нет"]).sum(1)
extra_no_sum

0     2
1     6
2     5
3     2
4     4
5     5
6     6
7     6
8     4
9     8
10    2
11    6
12    7
13    7
14    3
15    6
16    5
17    7
18    5
19    2
20    3
21    5
22    8
23    6
24    2
25    1
26    4
27    4
28    4
29    1
30    7
31    5
32    2
33    5
34    2
35    3
36    6
37    5
38    4
39    7
40    5
41    4
42    2
43    5
44    1
45    5
46    3
47    2
48    6
49    5
50    4
51    2
dtype: int64

### Задание 6

Добавить в исходный датафрейм столбец `extra`, который представляет собой индекс экстраверсии, который считается так: сумма числа ответов "Да" в `extra_yes` и числа ответов "Нет" в `extra_no`.

In [21]:
ps['extra'] = extra_yes_sum + extra_no_sum
ps.head()

,Unnamed:0,Unnamed:0.1,sex,volunteer,Q1,Q2,Q3,Q4,Q5,Q6,...,Q49,Q50,Q51,Q52,Q53,Q54,Q55,Q56,Q57,extra
0,0,1,Женский,Нет,Да,Нет,Нет,Да,Да,Да,...,Нет,Нет,Да,Да,Нет,Нет,Нет,Нет,Да,5
1,1,2,Женский,Да,Да,Да,Нет,Да,Да,Да,...,Да,Нет,Нет,Нет,Да,Нет,Да,Да,Нет,16
2,2,3,Женский,Да,Да,Да,Нет,Нет,Да,Да,...,Да,Нет,Нет,Да,Нет,Нет,Да,Да,Нет,13
3,3,4,Женский,Нет,Да,Да,Нет,Нет,Да,Да,...,Нет,Да,Да,Нет,Нет,Нет,Да,Нет,Нет,4
4,4,5,Женский,Нет,Да,Да,Нет,Да,Да,Да,...,Да,Нет,Нет,Да,Да,Да,Да,Да,Нет,13

### Задание 7

Добавить в исходный датафрейм столбец `female`, состоящий из значений 0 и 1 (0 — Мужской, 1 — Женский). 

**Подсказка:** возможно, пригодится метод `.astype()` для [Series](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.Series.astype.html) в `pandas`, он преобразует типы столбцов.

In [41]:
ps['female'] = (ps.sex == 'Женский').astype('int')
ps.head()

,Unnamed:0,Unnamed:0.1,sex,volunteer,Q1,Q2,Q3,Q4,Q5,Q6,...,Q50,Q51,Q52,Q53,Q54,Q55,Q56,Q57,extra,female
0,0,1,Женский,Нет,Да,Нет,Нет,Да,Да,Да,...,Нет,Да,Да,Нет,Нет,Нет,Нет,Да,5,1
1,1,2,Женский,Да,Да,Да,Нет,Да,Да,Да,...,Нет,Нет,Нет,Да,Нет,Да,Да,Нет,16,1
2,2,3,Женский,Да,Да,Да,Нет,Нет,Да,Да,...,Нет,Нет,Да,Нет,Нет,Да,Да,Нет,13,1
3,3,4,Женский,Нет,Да,Да,Нет,Нет,Да,Да,...,Да,Да,Нет,Нет,Нет,Да,Нет,Нет,4,1
4,4,5,Женский,Нет,Да,Да,Нет,Да,Да,Да,...,Нет,Нет,Да,Да,Да,Да,Да,Нет,13,1

### Задание 8

Выбрать из исходного датафрейма строки, которые соответствуют либо волонтёрам с индексом экстраверсии выше 15, либо не-волонтёрам с индексом экстраверсии ниже 15. Сохранить в датафрейм `pure`.

In [23]:
pure = ps[((ps['volunteer'] == 'Да') & (ps['extra'] > 15)) | ((ps['volunteer'] == 'Нет') & (ps['extra'] < 15))]
pure

,Unnamed:0,Unnamed:0.1,sex,volunteer,Q1,Q2,Q3,Q4,Q5,Q6,...,Q49,Q50,Q51,Q52,Q53,Q54,Q55,Q56,Q57,extra
0,0,1,Женский,Нет,Да,Нет,Нет,Да,Да,Да,...,Нет,Нет,Да,Да,Нет,Нет,Нет,Нет,Да,5
1,1,2,Женский,Да,Да,Да,Нет,Да,Да,Да,...,Да,Нет,Нет,Нет,Да,Нет,Да,Да,Нет,16
3,3,4,Женский,Нет,Да,Да,Нет,Нет,Да,Да,...,Нет,Да,Да,Нет,Нет,Нет,Да,Нет,Нет,4
4,4,5,Женский,Нет,Да,Да,Нет,Да,Да,Да,...,Да,Нет,Нет,Да,Да,Да,Да,Да,Нет,13
7,7,8,Женский,Да,Да,Да,Да,Нет,Да,Да,...,Да,Да,Нет,Да,Да,Да,Да,Да,Нет,21
8,8,9,Женский,Нет,Да,Да,Нет,Да,Да,Да,...,Нет,Нет,Нет,Да,Да,Нет,Да,Да,Нет,12
9,9,10,Женский,Да,Да,Да,Нет,Нет,Да,Нет,...,Да,Нет,Нет,Нет,Да,Да,Да,Да,Нет,19
10,10,11,Мужской,Нет,Нет,Да,Нет,Нет,Да,Да,...,Да,Нет,Да,Нет,Да,Да,Да,Да,Нет,8
11,11,12,Женский,Да,Да,Да,Нет,Да,Да,Да,...,Да,Нет,Нет,Да,Да,Да,Да,Да,Нет,17
14,14,15,Женский,Нет,Нет,Нет,Нет,Да,Да,Нет,...,Нет,Да,Да,Да,Нет,Да,Да,Нет,Нет,6
16,16,17,Женский,Нет,Да,Да,Нет,Нет,Нет,Да,...,Нет,Да,Да,Да,Нет,Да,Да,Да,Нет,14
18,18,19,Женский,Нет,Да,Да,Нет,Да,Да,Да,...,Нет,Нет,Нет,Да,Нет,Да,Да,Нет,Да,11
19,19,20,Женский,Нет,Нет,Нет,Да,Да,Да,Нет,...,Нет,Да,Да,Да,Нет,Да,Нет,Да,Да,9
20,20,21,Женский,Нет,Да,Да,Нет,Да,Да,Да,...,Нет,Да,Да,Да,Нет,Да,Да,Да,Нет,11
23,23,24,Мужской,Да,Да,Да,Нет,Нет,Да,Да,...,Да,Нет,Нет,Да,Да,Нет,Да,Да,Нет,17
26,26,27,Женский,Нет,Да,Да,Нет,Нет,Да,Да,...,Да,Да,Да,Да,Да,Нет,Да,Нет,Нет,12
29,29,30,Женский,Нет,Нет,Нет,Нет,Нет,Да,Да,...,Нет,Да,Да,Да,Нет,Да,Да,Да,Нет,3
33,33,34,Мужской,Нет,Нет,Да,Нет,Да,Да,Нет,...,Нет,Да,Нет,Да,Нет,Нет,Нет,Да,Нет,9
34,34,35,Женский,Нет,Да,Да,Да,Нет,Да,Да,...,Да,Нет,Нет,Нет,Нет,Нет,Да,Нет,Нет,9
37,37,38,Женский,Нет,Да,Нет,Нет,Нет,Да,Да,...,Да,Нет,Нет,Нет,Нет,Нет,Да,Нет,Нет,8
38,38,39,Женский,Нет,Да,Нет,Нет,Нет,Да,Нет,...,Нет,Да,Нет,Нет,Нет,Нет,Да,Да,Да,10
40,40,41,Женский,Нет,Да,Да,Нет,Нет,Да,Нет,...,Да,Нет,Нет,Да,Да,Нет,Да,Нет,Да,12
43,43,44,Женский,Нет,Да,Да,Нет,Да,Да,Да,...,Нет,Нет,Нет,Да,Нет,Нет,Нет,Да,Нет,10
45,45,46,Женский,Нет,Да,Да,Нет,Нет,Да,Да,...,Нет,Да,Нет,Да,Нет,Нет,Да,Да,Да,14
47,47,48,Женский,Нет,Нет,Нет,Нет,Да,Да,Да,...,Нет,Нет,Да,Да,Нет,Да,Нет,Нет,Нет,2
48,48,49,Женский,Да,Да,Да,Нет,Да,Да,Да,...,Да,Да,Нет,Нет,Да,Да,Нет,Нет,Нет,18
50,50,51,Женский,Нет,Да,Да,Нет,Нет,Да,Нет,...,Нет,Нет,Нет,Да,Да,Нет,Да,Да,Да,13

### Задание 9

Определить (любым способом, кроме явного подсчёта), сколько волонтёров и не-волонтёров в датафрейме `pure`.

In [24]:
volunteers = pure[pure['volunteer'] == 'Да'].shape[0]
not_volunteers = pure[pure['volunteer'] == 'Нет'].shape[0]
print(f"Волонтёров: {volunteers}, не волонтёров: {not_volunteers}")

Волонтёров: 6, не волонтёров: 21

### Задание 10

Определить минимальное, максимальное, среднее и медианное значение индекса экстраверсии в датафрейме `pure`. Сохранить полученные результаты в отдельные переменные (их должно быть 4).

Добавить в датафрейм `pure` столбец `high`, состоящий из 0 и 1, где 1 соответствует респондентам, уровень экстраверсии которых выше значения $m = \max\{\text{median}, \text{mean}\}$, то есть максимума из медианного и среднего значения, а 0 — респондентам с уровнем экстраверсии не выше $m$.

In [42]:
minimum = pure['extra'].min()
maximum = pure['extra'].max()
mean = pure['extra'].mean()
median = pure['extra'].median()
print(minimum, maximum, mean, median)
# Я бы сделал так:
pure['high'] = (pure['extra'] > max(median, mean)).astype('int')

2 21 11.222222222222221 11.0

D:\bin\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [43]:
pure.head()

,Unnamed:0,Unnamed:0.1,sex,volunteer,Q1,Q2,Q3,Q4,Q5,Q6,...,Q50,Q51,Q52,Q53,Q54,Q55,Q56,Q57,extra,high
0,0,1,Женский,Нет,Да,Нет,Нет,Да,Да,Да,...,Нет,Да,Да,Нет,Нет,Нет,Нет,Да,5,0
1,1,2,Женский,Да,Да,Да,Нет,Да,Да,Да,...,Нет,Нет,Нет,Да,Нет,Да,Да,Нет,16,1
3,3,4,Женский,Нет,Да,Да,Нет,Нет,Да,Да,...,Да,Да,Нет,Нет,Нет,Да,Нет,Нет,4,0
4,4,5,Женский,Нет,Да,Да,Нет,Да,Да,Да,...,Нет,Нет,Да,Да,Да,Да,Да,Нет,13,1
7,7,8,Женский,Да,Да,Да,Да,Нет,Да,Да,...,Да,Нет,Да,Да,Да,Да,Да,Нет,21,1